body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.flex-for {
    display: flex;
    margin-bottom: 50px;
}

.my-name {
    color: orange;
}

#my-name {
    font-size: 50px;
}

.my-description {
    text-align: justify;
}

.my-part {
    width: 50%;
    padding: 0px 20px 20px 50px;
}

.my-part img {
    padding-left: 20px;
    width: 80%;
}


.my-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#hire-tag {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
}

.next-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.next-part img {
    width: 90%;
    padding-left: 40px;
}

.next-part {
    width: 50%;
    padding: 0px 40px 0px 40px;
}

#next-name {
    font-size: 40px;
}

#next-description {
    text-align: justify;
}

#resume-tag {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    height: 20px;
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
}

.last-section-format {
    display: flex;
}

.last-class {
    width: 40%;
    margin: 0% 5% 0% 5%;
    text-align: justify;
    padding: 20px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
}

.last-top-head {
    font-size: 40px;
}

.last-header {
    font-size: 35px;
    text-align: left;
}

.last-title {
    font-size: 20px;
    color: orange;
}

.copywright {
    text-align: center;
}

#last-section {
    margin-bottom: 50px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer {
    text-align: center;
}