body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.my-name {
    color: orange;
}

#my-name {
    font-size: 50px;
}

.my-description {
    text-align: justify;
}

.my-part {
    width: 50%;
    padding: 0px 20px 20px 50px;
}

.my-part img {
    padding-left: 20px;
    width: 90%;
}

#my-section {
    display: flex;
}

#hire-tag {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
}

#my-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}